#guessyoulike{
	/*border: solid thin;*/
	width: 1000px;
	height: 250px;
	margin: 0 auto;
	clear: both;
}
#guessyoulike>div{
	width: 100%;
	height: 100%;
	/*background: yellow;*/
}
#guessyoulike>div ul{
	width: 100%;
}
#guessyoulike>div li{
	width: 16.6%;
	box-sizing: border-box;
	float: left;
	padding: .5em;
}
#guessyoulike>div div.p-name a{
	display: block;
	line-height: 18px;
	font-size: 14px;
	height: 36px;
	overflow: hidden;
	color: #666 !important;
}
#guessyoulike>div div.p-name a:hover{
	color: rgb(200,22,35) !important;
}
#guessyoulike>div i{
	font-style: normal;
	color:rgb(200,22,35) ;
}
#guessyoulike>div div.p-price{
	color: rgb(200,22,35);
}
/*图片偏移效果*/
#guessyoulike>div img:hover{
	margin-left: -5px;
	transition: all .5s;
}

/*文字*/
#guessyoulike>div>div.mt h2{
	font-size: 1.3em;
	color:rgb(148,148,148) ;
	margin-left:1em ;
	padding-right: 100px;
	background: url(../images/homebg.png) no-repeat;
	background-position:4em -100px;
	
}
#guessyoulike>div>div.mt{
	position: relative;
	/*float: left;*/
}
#guessyoulike>div>div.mt a{
	position: absolute;
	right: 1em;
	bottom: -.5em;
}
#guessyoulike>div>div.mt a:hover{
	color: rgb(200,22,35);
}
#guessyoulike>div div.list1{
	border: solid thin #ccc;
	overflow: hidden;
	margin-top: 1em;
}
/*背景图*/
/*#guessyoulike>div>div.mt span.bgimg{
	display: block;
	width: 100px;
	height: 1em;
	background: url(../images/homebg.png);
	background-color: yellow;
}*/
