@media only screen and (max-width: 640px) {
	html,
	body {
		font-size: 10px;
	}
}

@media only screen and (max-width: 576px) {
	html,
	body {
		font-size: 9px;
	}
	.time {
		/*background: url(img/borderbottom.png) repeat-x left bottom;*/
		/*padding: .5rem 0;*/
		/*overflow: hidden;*/
	}
	.time>.first {
		/*display: inline-block;*/
		font-size: 1.95rem;
		/*font-weight: bold;*/
		/*background: url(img/time.png) no-repeat left center, url(img/time.png) no-repeat right center;*/
		padding-left: 5.7rem;
		padding-right: 5.7rem;
		background-size: 23.9rem 1px;
		/*line-height: 4rem;*/
	}
	.time>.second {
		/*display: inline-block;*/
		/*float: right;*/
		/*vertical-align: bottom;*/
		/*overflow: hidden;*/
	}
	.time>.second>span.num {
		/*color: #666666;*/
		/*background: url(img/timebg.png) no-repeat left top;*/
		background-size: 5.27rem 3.4rem;
		/*display: inline-block;*/
		height: 3.4rem;
		width: 2.62rem;
		/*text-align: center;*/
		/*font-family: "lucida console";*/
		/*color: white;*/
		font-size: 1.6575rem;
		line-height: 3.825rem;
		/*overflow: hidden;*/
	}
	.time>.second>span.text {
		/*font-size: 1.5rem;*/
		/*color: #666666;*/
		margin: 0 .3825rem 0 .255rem;
		/*display: inline-block;*/
	}
	.time>.second>span.text>span {
		font-size: 1.95rem;
		/*display: block;*/
		/*position: relative;*/
		top: -.3rem;
	}
	#bottom>ul>li>a>div>img {
		width: 3.9rem;
		height: 3.9rem;
	}
}

@media only screen and (max-width: 480px) {
	html,
	body {
		font-size: 8px;
	}
	.time>.first {
		font-size: 1.95rem;
		padding-left: 4.845rem;
		padding-right: 4.845rem;
		/*background-size: 23.9rem 1px;*/
	}
	.time>.second>span.num {
		margin-top: .6rem;
		background-size: 4.4795rem 2.89rem;
		height: 2.89rem;
		width: 2.227rem;
		font-size: 1.4rem;
		line-height: 3.25125rem;
	}
	.time>.second>span.text {
		margin: 0 .3251rem 0 .199125rem;
	}
	.time>.second>span.text>span {
		font-size: 1.6575rem;
		top: -.255rem;
	}
	#bottom>ul>li>a>div>img {
		width: 3.7rem;
		height: 3.7rem;
	}
}

@media only screen and (max-width: 415px) {
	html,
	body {
		font-size: 7px;
	}
	.time>.first {
		font-size: 1.95rem;
		padding-left: 4.845rem;
		padding-right: 4.845rem;
		/*background-size: 23.9rem 1px;*/
	}
	.time>.second>span.num {
		margin-top: .6rem;
		background-size: 4.4795rem 2.89rem;
		height: 2.89rem;
		width: 2.227rem;
		font-size: 1.4rem;
		line-height: 3.25125rem;
	}
	.time>.second>span.text {
		margin: 0 .3251rem 0 .199125rem;
	}
	.time>.second>span.text>span {
		font-size: 1.6575rem;
		top: -.255rem;
	}
	#bottom>ul>li>a>div>img {
		width: 3.5rem;
		height: 3.5rem;
	}
}

@media only screen and (max-width: 415px) {
	html,
	body {}
	.time>.first {
		font-size: 1.95rem;
		padding-left: 3.9rem;
		padding-right: 3.9rem;
		/*background-size: 23.9rem 1px;*/
	}
	.time>.second>span.num {
		background-size: 3.8rem 2.4565rem;
		height: 2.4565rem;
		width: 1.893rem;
		font-size: 1.19rem;
		line-height: 2.7636rem;
	}
	.time>.second>span.text {
		margin: 0 .276rem 0 .17rem;
	}
	.time>.second>span.text>span {
		font-size: 1.4rem;
		top: -.21675rem;
	}
	#bottom>ul>li>a>div>img {
		width: 3.2rem;
		height: 3.2rem;
	}
}

@media only screen and (max-width: 375px) {
	html,
	body {
		/*font-size: 5px;*/
	}
	.time>.first {
		font-size: 1.6575rem;
		padding-left: 3.485rem;
		padding-right: 3.485rem;
		/*background-size: 23.9rem 1px;*/
	}
	.time>.second {
		position: relative;
		top: .3rem;
	}
	.time>.second>span.num {
		background-size: 3.23rem 2.09rem;
		height: 2.09rem;
		width: 1.6rem;
		font-size: 1.19rem;
		line-height: 2.35rem;
	}
	.time>.second>span.text {
		margin: 0 .2346rem 0 .1445rem;
	}
	.time>.second>span.text>span {
		font-size: 1.19rem;
		top: -.184rem;
	}
	#bottom>ul {
		padding-top: 1.2rem;
		padding-bottom: 1.3rem;
	}
	#bottom>ul>li>a>div>img {
		width: 2.8rem;
		height: 2.8rem;
	}
}

@media only screen and (max-width: 320px) {
	html,
	body {
		font-size: 7px;
	}
	#bottom>ul {
		padding-top: 1.2rem;
		padding-bottom: 1.3rem;
	}
	#bottom>ul>li>a>div>img {
		width: 2.6rem;
		height: 2.6rem;
	}
}